.animation-container {
  position: relative;
  height: 135px;
  width: 100%;
  overflow: hidden;
  margin: 50px 0;
}

.wave-path-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.plane {
  position: absolute;
  font-size: 50px;
  color: #8e5c6e;
  transform: translate(-50%, -50%);
  offset-path: url(#flying-wave-path);
  offset-distance: 0%;
  animation: fly-along-path var(--animation-duration) linear infinite;
}

@keyframes fly-along-path {
  to {
    offset-distance: 100%;
  }
}
